{% extends 'base.html' %} {% block content %}

<main>
	{% if plant %}
	<h1>{{ plant['name'] }}</h1>
	<img src="{{plant['photo_url']}}" />
	<section id="info">
		<h3>Info</h3>
		<strong>Date Planted</strong>
		{{ plant['date_planted'] }}
		<br /><br />

		<strong>Variety</strong>
		{{ plant['variety']}}
		<br /><br />
		<a class="nav" href="/edit/{{plant['_id']}}">Edit Plant</a><br /><br />
	</section>

	{% endif%}

	<form action="/harvest/{{plant['_id']}}" method="POST">
		<fieldset>
			<legend>Harvested:</legend>

			<label>
				Amount harvested
				<input
					type="text"
					name="harvested_amount"
					placeholder="e.g. 2 tomatoes"
				/>
			</label>

			<label>
				Date harvested
				<input type="date" name="date_harvested" />
			</label>

			<input type="submit" class="submit" value="Harvest!" />
		</fieldset>
	</form>

	<section id="harvest-history">
		<h3>Harvest History</h3>
		{% if harvests %}
		<ul>
			{% for harvest in harvests %}
			<li>{{harvest['date']}} : Harvested {{ harvest['quantity'] }}</li>
			{% endfor %}
		</ul>
		{% endif %}
	</section>

	<form
		action="/delete/{{plant['_id']}}"
		method="POST"
		id="delete-form"
		onsubmit="return confirm_delete()"
	>
		<input
			type="submit"
			class="nav"
			onclick="delete_modal()"
			value="Delete Plant"
		/>
	</form>
</main>

{% endblock content %}
