{% extends 'base.html' %} {% block content %}

<main>
	<div id="content">
		<h1>My Plants</h1>

		<a href="/create" class="nav">+ New Plant</a>
		{% if plants %}
		<div id="items">
			{% for plant in plants %}
			<div class="card">
				<a href="/plant/{{plant['_id']}}"
					><img src="{{plant['photo_url']}}"
				/></a>
				<div class="card-content">
					<a href="/plant/{{plant['_id']}}">{{plant['name']}}</a>
				</div>
			</div>
			{% endfor %}
		</div>
		{% endif %}
	</div>
</main>

{% endblock content %}
